html {
    height: 100%;
}



body {
/*    height: 100%;*/
    background-color: #343434;
    text-align: center;
    padding-top: 70px;
}

.row {
    vertical-align: bottom;

   
}

.port-row {
    height: 104px;   
}

.link-div {
    margin-top: 100px;  
}

.edu-div{
    margin-left: 400px; 
}

.edu-col {
    padding-left: 120px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
.col-xs-9.col-sm-12.col-md-6 {
    text-align: center;
    padding: 0 3em 0 3em;
}

.col-md-4 a{
    text-align: center;
    padding: .5em 1em .5em 1em;
  
    }

.col-md-12 {
    text-align: left;
    padding: 0 5em 0 2em;
}

/*
.col-xs-3 .col-xs-4 {
  padding: 0 2em 0 2em;
}
*/

.inner.vertical-center {
  margin-bottom: 0; 
}

.vertical-center {
  min-height: 100%;  
  min-height: 100vh; 
      display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

                     



.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:right;
    /* inline-block space fix */
    margin-right:-4px;
} 


.sig-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sig-h1 {
    font-family: Gudea;
    font-size: 4.5em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}



.sig-p {
    font-family: Gudea;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.4em;
    color: #f5cf59;
    margin-bottom: 1.5em;
}

.contact-h1 {
    font-family: Gudea;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}

.contact-p {
    font-family: Gudea;
    font-size: 2.3em;
    font-weight: 600;
    line-height: 1em;
    color: #f5cf59;
}

.contact-div {

    padding-bottom: 4em;

}

.glyphicon-envelope {
    padding-right: .2em;
   
}

.exp-row {
    padding-bottom: 4em;
   
}

.exp-row-2 {
    padding-top: 1.1em;
   
}

.exp {
    float: left;
    font-family: Gudea;
    font-size: 2.2em;
    font-weight: 800;
    color: #f5cf59;
    padding-right: 0.5em;
    
}

.exp-2 {
    float: left;
    font-family: Gudea;
    font-size: 1.2em;
    font-weight: 800;
    color: #f5cf59;
    padding-right: .8em;
    vertical-align: bottom;
  
}

.experience-h4 {
    font-family: Gudea;
    font-size: 1.2em;
    font-weight: 800;
    color: #f5cf59;
    float: left;
    padding-right: .8em;
}


.experience-h5 {
    font-family: Gudea;
    font-size: 1.2em;
    font-weight: 800;
    color: #f5cf59;
    
}

.port {
    font-family: Gudea;
    font-size: 2.2em;
    font-weight: 800;
    color: #f5cf59;

    
}

.port:hover {
    color: #f1ba11;
 
}

.about-h2 {
    font-family: Gudea;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
    
}


.about-h4 {
    font-family: Gudea;
    font-size:2.4em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
    margin: -3em 0 2em 0;
}

.about-h3 {
    font-family: Gudea;
    font-size:3.5em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}
.about-p {
    text-align: left;
    font-family: Gudea;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2em;
    color: #f5cf59;
    margin-bottom: 1.5em;
    
}

.col-xs-6 {
    margin-left: -15px;
}
.col-exp {
    margin-top: -2em;
}
.enter-btn {
    /*
 -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
*/
    width: 5em;
    padding: .25em .6em .05em .6em;
    font-family: Cambay;
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1.5em;
    color: #343434;
    text-decoration: none;
    background-color: #f5cf59;
    border: 0;
    /*      #f25c29;*/
}



.enter-btn:hover {
    color: #343434;
    text-decoration: none;
    background-color: #f1ba11;
}

.port-btn {
    /*
 -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
*/
    font-family: Cambay;
    font-size:1.8em;
    font-weight: 800;
    line-height: 1.5em;
    color: #343434;
    text-decoration: none;
    background-color: #f5cf59;
    border: 0;
    /*      #f25c29;*/
}

.port-btn:hover {
    color: #343434;
    text-decoration: none;
    background-color: #f1ba11;
}

.contact-btn {
    /*
 -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
*/
    width: 5em;
    padding: .25em .6em .05em .6em;
    font-family: Cambay;
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1.5em;
    color: #343434;
    text-decoration: none;
    background-color: #f5cf59;
    border: 0;
    /*      #f25c29;*/
}

.contact-btn:hover {
    color: #343434;
    text-decoration: none;
    background-color: #f1ba11;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f5cf59;
}

.navbar-default .navbar-toggle {
    background-color: #343434;
    border-color: #f5cf59;
    border-radius: 1px;  
}



.navbar-header .navbar-toggle:hover {
    background-color: #4d4d4d;
}
.navbar-header .navbar-toggle:focus {
    background-color: #4d4d4d;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #f1ba11;  /*Sets the text hover color on navbar*/
}


.navbar-default {
    background-color: #343434;
    border-color: #f5cf59;
   
}

 .navbar-default .navbar-collapse {
/*    background-color: #343434;*/
    border-color: #f5cf59;

     
}

  .navbar-default .navbar-nav > li > a {
   color: #f5cf59; /*Change active text color here*/
      margin: 0 1.5em 0 1.5em;
    }

#navbar .navbar-nav {
  display: inline-block;
  float: none;
    
  vertical-align: top;
  font-family: Gudea;
   font-size: 1.3em;
/*    font-weight: 600;*/
    line-height: 1.4em;
    color: #f5cf59;
}

#navbar .navbar-collapse {
  text-align: center;
    z-index: -999;

}

  
    
    
@media only screen and (max-width : 880px) {
     .navbar-default .navbar-nav > li > a {
   color: #f5cf59; /*Change active text color here*/
      margin: 0 .75em 0 .75em;
    }

    .experience-h2 {
        font-size: 2em;
    

    }

    } .sig-h1 {
	font-size: 4em;
}
    .sig-p {
	font-size: 3;
}
    .sig-div {
	width: 95%;
        
}
    .enter-btn {
    width: 2em;
        font-size: 1.8em;
        line-height: 1em;
        padding: .2em .4em 0 .4em;
}

}

@media only screen and (max-width : 768px){
 .col-xs-9.col-sm-12.col-md-6 .about-h2 {
    font-family: Gudea;
    font-size: 2.8em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}

   

.col-xs-9.col-sm-12.col-md-6 .about-p {
    font-family: Gudea;
    font-size:  1em;
    font-weight: 600;
    line-height: 1.6em;
    color: #f5cf59;
    margin-bottom: 1.5em;
    
}
    }
  
    
@media only screen and (max-width : 680px) {
 .about-h2 {
    font-family: Gudea;
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}

     .experience-h3 {
        font-size: .9em;
    }
    
    .experience-h4 {
        font-size: .9em;
    }
    .experience-h5 {
        font-size: .9em;
    }
    
.col-xs-9.col-sm-12.col-md-6 .about-p {
    font-family: Gudea;
    font-size:  1em;
    font-weight: 600;
    line-height: 1.6em;
    color: #f5cf59;
    margin-bottom: 1.5em;
    
}

 
    .sig-h1 {
	font-size: 3em;
}
      .sig-p {
	font-size: 2em;
}
          .sig-div {
	width: 95%;
}
}

@media only screen and (max-width : 494px) {
   .about-h3 {
    font-family: Gudea;
    font-size:2.5em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}

    
        .col-xs-12 {
        width: 100%;
    }


    .col-xs-9.col-sm-12.col-md-6 {
   
    padding: 0 .5em 0 .5em;
} 
    
   
    
 .about-h2 {
    font-family: Gudea;
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1.4em;
    color: #f5cf59;
}

.col-xs-9.col-sm-12.col-md-6 .about-p {
    font-family: Gudea;
    font-size:  1em;
    font-weight: 600;
    line-height: 1.4em;
    color: #f5cf59;
    margin-bottom: 1.5em;
    
}
}
@media only screen and (max-width : 430px) {
     

    }